p, li {
    margin: 5px auto;
}

.Resume {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
}

.bold {
    font-weight: bold;
}

.faded {
    color: rgb(204, 204, 204);
    font-weight: lighter;
}

.top {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.resumeContent{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content;
    grid-column-gap: 20px;
}

.skills  > div {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content;
}

.skills div {
    border: 1px solid white;
    padding: 10px
}

.experience div {
    border: 1px solid white;
    padding: 10px
}

.education {
    grid-column: 1 / span 2;
    margin-bottom: 30px;
}

.education  > div{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content;
    grid-gap: 20px;
}

.education div div {
    border: 1px solid white;
    padding: 10px
}

li {
    margin-left: 20px;
}